[submodule "lib/MoonWorks"]
	path = lib/MoonWorks
	url = https://github.com/MoonsideGames/MoonWorks.git
[submodule "MoonTools.ECS"]
	path = lib/MoonTools.ECS
	url = https://github.com/MoonsideGames/MoonTools.ECS
